body {
  padding-top: 5rem;
  margin: 2em;
}
div {
    font-family:Impact;
}
body {
  color: yellow;
}
body {background-color: navy;}
.starter-template {
  padding: 3rem 1.5rem;
  text-align:center;
}
.nav-p {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
body {
  color: white;
}
  line-height: inherit;
  white-space: nowrap;
  color: white;
}
